* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
h1 {
    text-align: center;
    font: 24px/40px "microsoft yahei";
}
#btn {
    font: 18px/24px "microsoft yahei";
    padding: 5px 10px;
    display: block;
    margin: 20px auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.box {
    width: 200px;
    height: 200px;
    position: absolute;
    background: #EEEEEE;
    border-right: 2px solid #f00;
    border-bottom: 2px solid #f00;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.scale {
    width: 20px;
    height: 20px;
    border: 2px dashed green;
    position: absolute;
    right: -10px;
    bottom: -10px;
    cursor: nw-resize;
    overflow: hidden;
    font-size: 12px;
    text-align: center;
    line-height: 20px;
    color: #000;
    font-size: 20px;
    font-weight: bold;
    float: right;
    z-index: 3;
}
.right {
    width: 15px;
    height: 100%;
    background: #f00;
    float: right;
    position: absolute;
    right: 0;
    top: 0;
    cursor: e-resize;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity:0);
    opacity: 0;
    z-index: 1;
}
.bottom {
    width: 100%;
    height: 15px;
    background: #f00;
    position: absolute;
    left: 0;
    bottom: 0;
    cursor: n-resize;
    overflow: hidden;
    opacity: 0;
    filter: alpha(opacity:0);
    opacity: 0;
    z-index: 1;
}
.box h2 {
    width: 100%;
    height: 50%;
    font: 14px/20px "microsoft yahei";
    background: #CC9900;
    color: #FFFFFF;
    text-align: center;
    cursor: move;
    overflow: hidden;
}
.box>div {
    width: 100%;
    height: 100%;
    overflow: hidden;
}