*{
	margin: 0;
	padding: 0;
}
html,body,.swiper-container,.swiper-wrapper,.page,.content,.bg{
	width: 100%;
	height: 100%;
}
.bg{
	background: url(1.png);
	background-size: cover;
	background-position: 50% 50%;
}
.content{
	position: relative;
}
.main{
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -320px;
	margin-top: -504px;
	width: 640px;
	height: 1008px;
	background-color: rgba(0,255,0,0.2);
	color: #000;
	font-size: 20px;

}