* {
    margin: 0;
    padding: 0;
}
li{
    list-style-type: none;
}
html, body {
    width: 100%;
    height: 100%;
    background-color: #D0CFD8;
}
h1 {
    text-align: center;
    font: 24px/40px "microsoft yahei";
}
#shapebtn, #picbtn {
    font: 16px "microsoft yahei";
    padding: 5px 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#drawArea {
    width: 326px;
    height: 580px;
    border: 5px solid #fff;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -163px;
}
#material {
    background-color: #F0F3F4;
    float: right;
}
#material>div {
    width: 120px;
    height: 120px;
}
.textures>img{
    position: relative;
    top: 50%;
    left: 50%;
    margin-top: -40px;
    margin-left: -40px;
}
.ml_pic{
    position: relative;
}
.ml_pic>img{
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
}

/*画布区*/
.graph{
    width: 100%;
    height: 100%;
}
.graph>img{
    width: 100%;
    height: 100%;
}
.pic{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.pic>img{
    width: 100%;
    height: 100%;
}
.txt{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.txt>div{
    width: 100%;
    height: 100%;
    font-size: 24px;
    padding: 5px 10px;
    outline: 0;
    border: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/*控制点*/
.container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    cursor: move;
    border: 1px dashed #2eb3e8;
    background-color: transparent;
    display: none;
    z-index: 100;
}
.bottomRight, .bottomLeft, .topLeft, .topRight {
    width: 10px;
    height: 10px;
    border: 5px dashed green;
    position: absolute;
    right: -5px;
    bottom: -5px;
    cursor: nw-resize;
    overflow: hidden;
    text-align: center;
    color: #000;
    font-weight: bold;
    float: right;
    border: 1px solid #2eb3e8;
    border-radius: 50%;
    background-color: #fff;
    display: none;
    z-index: 200;
}
.bottomLeft {
    left: -5px;
    bottom: -5px;
    cursor: sw-resize;
}
.topLeft {
    left: -5px;
    top: -5px;
    cursor: nw-resize;
}
.topRight {
    right: -5px;
    top: -5px;
    cursor: sw-resize;
}
.rightc {
    width: 10px;
    height: 10px;
    border: 1px solid #2eb3e8;
    float: right;
    position: absolute;
    right: -5px;
    top: 50%;
    margin-top: -5px;
    cursor: e-resize;
    border-radius: 50%;
    background-color: #fff;
    display: none;
    z-index: 200;
}
.bottomc {
    width: 10px;
    height: 10px;
    border: 1px solid #2eb3e8;
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -5px;
    cursor: s-resize;
    border-radius: 50%;
    background-color: #fff;
    display: none;
    z-index: 200;
}
.leftc {
    width: 10px;
    height: 10px;
    border: 1px solid #2eb3e8;
    position: absolute;
    left: -5px;
    top: 50%;
    margin-top: -5px;
    cursor: w-resize;
    border-radius: 50%;
    background-color: #fff;
    display: none;
    z-index: 200;
}
.topc {
    width: 10px;
    height: 10px;
    border: 1px solid #2eb3e8;
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    cursor: n-resize;
    border-radius: 50%;
    background-color: #fff;
    display: none;
    z-index: 200;
}
.rotate {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: lightgreen;
    border: 1px solid #2eb3e8;
    border-radius: 50%;
    margin-left: -5px;
    cursor: url(Move_IcP.cur), crosshair;
    display: none;
    z-index: 200;
}
.line {
    position: absolute;
    top: -20px;
    left: 50%;
    width: 1px;
    height: 15px;
    background-color: #2eb3e8;
    display: none;
}


/*功能区*/
#function{
    background-color: #bfbfbf;
    float: right;
}
#function>ul>li{
    padding: 10px;
    margin-top: 20px;
    list-style-type: none;
    cursor: pointer;
    font-size: 18px;
}
#function>ul>li:hover{
    background-color: #fff;
}
/* 裁切区 */
#cutlayer{
    width: 778px;
    height: 585px;
    position: absolute;
    top: 200px;
    left: 50%;
    margin-left: -389px;
    background-color: #fff;
    display: none;
    z-index: 2000;
}
#cl_top{
    width: 100%;
    height: 59px;
    background-color: #f6f6f6;
    padding: 17px 20px;
    box-sizing: border-box;
    font-size: 18px;
    line-height: 25px;
    font-family: "microsoft yahei";
}
#clr_middle{
    padding: 0px 20px;
    margin-top: 20px;
    overflow: hidden;
}
#clm_left{
    float: left;
    width: 580px;
    height: 430px;
    background-color: #ccc;
    position: relative;
}
#clm_right{
    float: right;
    width: 135px;
    height: 430px;
    background-color: #ddd;
}
#cl_bottom{
    float: right;
}
#cl_bottom>div{
    display: inline-block;
    text-align: center;
    font-size: 16px;
    width: 80px;
    height: 30px;
    line-height: 30px;
    background-color: #afafaf;
    cursor: pointer;
    padding: 5px;
    margin:10px;
}
.jcrop-holder {
    background-color: #ccc!important;
}
img{
    vertical-align: middle;
}
/*字体样式*/
#txt_style{
    float: right;
    background-color: #fff;
}
#txt_style>ul>li{
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px 0px;    
    font-size: 18px;
    position: relative;
}
#txt_style>ul>li:hover{
    background-color: #2eb3e8;
}
#txt_style>ul>li:hover>ul{
    display: block;
}
#txt_style>ul>li>ul{
    position: absolute;
    top: 0;
    left: -100px;
    display: none;
    background-color: #fff;
}
#txt_style>ul>li>ul>li{
    width: 100px;
    box-sizing: border-box;
    padding: 5px 10px;
    cursor: pointer;
    margin: 5px 0px;    
    font-size: 16px;
    cursor: pointer;
}
#txt_style>ul>li>ul>li:hover{
    background-color: #2eb3ff;
}
