* {
    margin: 0;
    padding: 0;
}
html, body {
    width: 100%;
    height: 100%;
}
h1 {
    text-align: center;
    font: 24px/40px "microsoft yahei";
}
#btn {
    font: 18px/24px "microsoft yahei";
    padding: 5px 10px;
    display: block;
    margin: 20px auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.box {
    width: 200px;
    height: 200px;
    position: absolute;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    font: 14px/20px "microsoft yahei";
    background: #ccc;
    border-radius: 50%;
}
.scale01,.scale02,.scale03,.scale04 {
    width: 10px;
    height: 10px;
    border: 5px dashed green;
    position: absolute;
    right: -10px;
    bottom: -10px;
    cursor: nw-resize;
    overflow: hidden;
    text-align: center;
    color: #000;
    font-weight: bold;
    float: right;
    background-color: green;
    z-index: 3;
}
.scale02{
    left: -10px;
    bottom: -10px;
    cursor: sw-resize;
}
.scale03{
    left: -10px;
    top: -10px;
    cursor: nw-resize;
}
.scale04{
    right: -10px;
    top: -10px;
    cursor: sw-resize;
}
.right {
    width: 10px;
    height: 10px;
    background: #f00;
    float: right;
    position: absolute;
    right: -5px;
    top: 50%;
    margin-top: -5px;
    cursor: e-resize;
    z-index: 2;
    border-radius: 50%;
}
.bottom {
    width: 10px;
    height: 10px;
    background: #f00;
    position: absolute;
    left: 50%;
    bottom: -5px;
    margin-left: -5px;
    cursor: s-resize;
    z-index: 2;
    border-radius: 50%;
}
.left {
    width: 10px;
    height: 10px;
    background: #f00;
    position: absolute;
    left: -5px;
    top: 50%;
    margin-top: -5px;
    cursor: w-resize;
    z-index: 2;
    border-radius: 50%;
}
.top {
    width: 10px;
    height: 10px;
    background: #f00;
    position: absolute;
    top: -5px;
    left: 50%;
    margin-left: -5px;
    cursor: n-resize;
    z-index: 2;
    border-radius: 50%;
}
.box>div:first-child {
    width: 100%;
    height: 100%;
    cursor: move;
}
.rotate{
    position: absolute;
    top: -50px;
    left: 50%;
    width: 20px;
    height: 20px;
    background-color: blue;
    border-radius: 50%;
    margin-left: -10px;
    cursor: url(Move_IcP.cur),crosshair;
}